[bltouch]
__action__: DELETED

[stepper_y]
position_max: 226

[extruder]
control: __DELETED__
pid_kp: __DELETED__
pid_ki: __DELETED__
pid_kd: __DELETED__

[heater_bed]
control: __DELETED__
pid_kp: __DELETED__
pid_ki: __DELETED__
pid_kd: __DELETED__

[probe]
z_offset: __DELETED__
x_offset: -30.0
